$main-bg-color: hsl(0deg 0% 98%);
$main-heading-color: hsl(233deg 5% 34%);
$sub-heading-color: hsl(231deg 11% 35%);
$description-text-color: hsl(0deg 0% 68%);


// for borders
$red:hsl(0, 78%, 62%);
$blue:hsl(212, 86%, 64%);
$yellow:hsl(34, 97%, 64%);
$cyan:hsl(180, 62%, 55%);